* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(../images/background.svg);
  width: 375px;
  height: 100%;
  max-height: 812px;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  margin-bottom: 4rem;
  list-style: none;
  padding: 0;

  gap: 0.5rem;

  justify-content: center;
}

#userBio{
  padding-bottom: 30px;
}

/* Social Links Icons */
.social-icons {
	margin: 0;
	padding: 0;
	width: auto;
}

.social-icons li {
	display: inline-block;
	margin: 10px 10px 0 0;
	padding: 0;
	border-radius: 100%;
	overflow: visible;
}

.social-icons li a {
	transition: all 0.2s ease;
	border-radius: 100%;
	display: block;
	height: 40px;
	width: 40px;
  line-height: 42px;
	text-align: center;
	color: #333 !important;
	text-decoration: none;
	font-size: 14px;
	font-size: 1rem;
}

.social-icons.social-icons-clean-with-border li a {
	background: transparent;
	color: #FFF !important;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.social-icons li:hover a {
	background: #151719;
	color: #FFF !important;
}

.social-icons li:hover.social-icons-twitter a {
	background: #1aa9e1 !important;
}

.social-icons li:hover.social-icons-facebook a {
	background: #3b5a9a !important;
}

.social-icons li:hover.social-icons-linkedin a {
	background: #0073b2 !important;
}

.social-icons li:hover.social-icons-googleplus a {
	background: #dd4b39 !important;
}

.social-icons li:hover.social-icons-youtube a {
	background: #c3191e !important;
}

.social-icons li:hover.social-icons-instagram a {
	background: #7c4a3a !important;
}

.social-icons li:hover.social-icons-skype a {
	background: #00b0f6 !important;
}

.social-icons li:hover.social-icons-email a {
	background: #dd4b39 !important;
}

.social-icons li:hover.social-icons-tumblr a {
	background: #304e6c !important;
}

.social-icons li:hover.social-icons-reddit a {
	background: #ff4107 !important;
}
/** CORES DOS ÍCONES */
.social-icons li:hover.social-icons-whatsapp a {
	background: #25d366 !important;
}